<div class="row">
  <div class="col-md-4 cards">
    <mat-card class="vh-100">
      <mat-card-title>
        <div>MISSION</div>
      </mat-card-title>
      <mat-card-content>
        <div>Charity</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="vh-100">
      <mat-card-title>
        <div>VISION</div>
      </mat-card-title>
      <mat-card-content>
        <div>Improvemnet of village</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="vh-100 card2">
      <mat-card-title>
        <div>ACHIEVEMENTS</div>
      </mat-card-title>
      <mat-card-content>
        <div>Developed Sports</div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
