.login-container {
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.login-card {
  width: 400px;
  position: relative;
  border-radius: 0;
  text-align: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.mat-form-field {
  margin-top: 10px;
  width: 400px;
}

.forgot-password {
  text-decoration: underline;
  font-style: italic;
  cursor: pointer;
}

.title {
  font-weight: 500;
  letter-spacing: 0.41px;
  justify-content: center;
}
.buttons {
  margin: 10px 0 10px 0;
}

.btn-edit {
  background-color: #0c9e10;
  border: none;
  border-radius: 0;
  margin-right: 0;
  padding: 10px;
}
.btn-back {
  border: none;
  border-radius: 0;
  margin-right: 20px;
  padding: 10px;
}
