<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header class="title">
      <mat-card-title>FORGOT PASSWORD</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="login-wrapper p-2">
        <div class="login-form">
          <div class="form-field">
            <form class="mt-1">
              <div class="mt-4 fs-14">We will sent a Reset Password link to the email address entered below.</div>
              <mat-form-field class="w-100">
                <input type="text" matInput placeholder="Email Address" required />
                <mat-error> Email is required </mat-error>
              </mat-form-field>

              <div class="buttons">
                <button class="btn btn-back fs-12 shadow-none" [routerLink]="'/'">
                  <i class="ri-arrow-left-line pr-2 fs-16"></i> <span>Back to login</span>
                </button>

                <button
                  type="button"
                  class="mt-2 btn btn-edit fs-12 shadow-none w-50 p-2"
                  (click)="onSentLinkButtonClicked()"
                >
                  Send Link
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
