.menu {
  padding: 10px;
  background-color: #13aa388c;
  text-align: right;
}
.menu ul {
  list-style: none;
  margin-right: 10px;
}
.menu ul li {
  display: inline-block;
  margin-right: 2%;
  margin-left: 2%;
}
.menu ul li a {
  text-decoration: none;
  color: rgb(216, 95, 15);
  font-size: 14px;
  font-weight: 500;
}
.menu ul li a:hover {
  color: red;
}
.button {
  transition-duration: 0.4s;
  border: none;
  padding: 5px;
  margin-right: 20px;
}

.button:hover {
  background-color: #4caf50;
  color: white;
}
